.App {
  text-align: center;
}

.joinform{
  display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    justify-content: space-evenly;
}

.registrationFields{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    width: 70vw!important;
    min-width: 500px!important;
    margin:auto;
}

body {
  margin-block: 100px;
}

.animate__pulse{
  animation-iteration-count: infinite!important;
  color: cornflowerblue!important; 
}