@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;900&display=swap');

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;

}

h2 {
  font-weight: 400;
  font-size: 27px;
}
p, div {
  font-weight: 300;
}

i {
  margin-block: 20px;
}

.joinform{
  display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    justify-content: space-evenly;
}

.registrationFields{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    width: 100%!important;
    //min-width: 500px!important;
    margin:auto;
}

body {
  margin-block: 100px;
}

.animate__pulse{
  animation-iteration-count: infinite!important;
  color: rgb(41, 104, 223)!important; 
}
.greencolor {
  color: limegreen;
}
.greycolor {
  color: darkgrey;
}
.redcolor{
  color: red!important;
}
.registrationField {
  margin-block: 17px!important;
  width:70%!important;
  max-width: 500px!important;
}

//animation of color that chanegs color fro mblack to red every 2 seconds 
@keyframes colorChange {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}
.colorchangeanimation {
  animation: colorChange 2s infinite;
  
}


